.grid-holder {
   margin-top: 15px;
   margin-left: 15px;
   margin-right: 15px;
}

.header-holder {
   height: 60vh;
   margin-top: 5px;
   margin-left: 15px;
   margin-right: 15px;
}

.ui.segment.background {
   height: 100%;
   background-image: url("./images/background6.png");
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}

.center.aligned.ui.header {
   font-size: 75px;
   color: #e6feff;
}
