<div class="ui raised purple card">
    <div class="content">
        <div id="card-header" class="header">Bhajan Title</div>
        <div id="card-meta"class="meta">sample</div>
        <div id="card-description" class="description">Lyrics</div>
    </div>
    <div class="extra content">
        <div class="ui bottom attached two buttons">
            <div id="edit-view-button" class="ui basic teal button">Edit / View</div>
        </div>
    </div>
</div>

<div id="modal-for-card" class="ui fullscreen modal" style="width: 70%; height: 70%;">
    <div class="header">
        <textarea id="modal-header" style="min-width: 100%; font-size: 24px;"></textarea>
    </div>
    <div id="modal-content" class="content">
        <textarea id="modal-lyrics" style="min-width: 100%; max-width: 100%; min-height: 40vh; font-size: 35px;"></textarea>
        <textarea id="modal-meaning" style="min-width: 100%; max-width: 100%; min-height: 20vh; font-size: 20px;">Hi</textarea>
    </div>
    <div class="actions">
        <div id="modal-cancel" class="ui basic black deny button">Cancel</div>
        <div id="modal-save" class="ui positive right labeled icon button">Save
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

