<div class="ui raised purple card">
    <div class="content">
        <div id="card-header" class="header">Bhajan Title</div>
        <div id="card-meta"class="meta">sample</div>
        <div id="card-description" class="description">Lyrics</div>
    </div>
    <div class="extra content">
        <div class="ui bottom attached two buttons">
            <div id="edit-button" class="ui basic grey button">Edit</div>
            <div id="view-button" class="ui basic teal button">View</div>
        </div>
    </div>
</div>

<div id="view-modal-for-card" class="ui fullscreen modal" style="width: 80%; height: 80%;">
    <div id="view-modal-header" class="header"></div>
    <div id="view-modal-content" class="content">
        <textarea readonly id="view-modal-lyrics" style="min-width: 100%; max-width: 100%; min-height: 40vh; font-size: 40px;"></textarea>
    </div>
</div>

<div id="edit-modal-for-card" class="ui fullscreen modal" style="width: 70%; height: 70%;">
    <div class="header">
        <textarea id="edit-modal-header" style="min-width: 100%; font-size: 24px;"></textarea>
    </div>
    <div id="edit-modal-content" class="content">
        <textarea id="edit-modal-lyrics" style="min-width: 100%; max-width: 100%; min-height: 40vh; font-size: 20px;"></textarea>
    </div>
</div>

